MYSQL_DATABASE=db
MYSQL_USER=admin
MYSQL_PASSWORD=password
MYSQL_ROOT_PASSWORD=password

SERVER_SSL_KS=classpath:ssl/keystore.p12
SERVER_SSL_PASSWORD=password
SERVER_SSL_ALIAS=alias

SPRING_LIQUIBASE_ENABLED=false

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=password

SPRING_DATASOURCE_DOMAIN=localhost:3306
SPRING_DATASOURCE_USE_SSL=false
SPRING_DATASOURCE_USERNAME=admin
SPRING_DATASOURCE_PASSWORD=password
TIRSPORTIF_JWT_SECRET=very-secret
TIRSPORTIF_JWT_VALIDITY=3600